.settings-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
  background-color: #ffffff;
  border: 1vh solid #000000;
  border-radius: 4vh;
  padding: 4vh 4vw;
  width: 60vw;
  margin-top: -29vh;
  z-index: 100;
}

.settings-label {
  margin-left: 1vw;
}

.settings-label.colored {
  color: #6a0dad;
}
.settings-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  gap: 1vw;
  font-size: 5vh;
}

.time-signature-dropdown {
  width: 4vw;
}
.create-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4vh 0;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease, background-color 0.3s ease;
  background-color: #6a0dad;
  height: 8vh;
  font-size: 6vh;
  width: 100%;
  margin-top: 2vh;
  border-radius: 2vh;
}

.create-button:hover {
  background-color: #550dad;
  transform: scale(1.01);
}
